{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">

    <header class="container">
        <br>
      <h1>Help Center</h1>
      <br>
    </header>

    
    <div class="row">
        <div class="col-md-3 ">
            <ul class="list-group text-md-center pb-5 pt-2 sticky-top">
                {% for topic in topics %}
                <li class="list-group-item"><a class="nav-link" href="{% if request.path == '/store/faq/' %}#{{ topic.title }}{% else %}{% url 'faq' %}{% endif %}">{{ topic.title }}</a></li>
                {% endfor %}             
            </ul>
        </div>

        

        <div class="col-md-8 p-md-0 p-sm-2 ">

            <form action="{% url 'faq_search' %}" class="search pt-2" method='GET'>
                <div class=" input-group">
                    <input type="text" class="form-control" style="width:50%;" placeholder="Search" name="keyword">
                    
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    </div>
                </div>
            </form> <!-- search-wrap .end// -->

            <div id="accordion" class="container p-2">
                {% for topic, faqs in faq_data %}
                <h2 id="{{ topic.title }}" class="pt-5">{{ topic.title }}</h2>
        
                {% for faq in faqs %}
                <div class="card shadow m-2">
                    <div class="card-header" id="heading{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                        <button class="d-flex align-items-center btn btn-block btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ forloop.parentloop.counter }}_{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                            <h6 class="font-weight-bold my-auto">{{ faq.question }}</h6>
                        </button>
                    </div>
        
                    <div id="collapse{{ forloop.parentloop.counter }}_{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.parentloop.counter }}_{{ forloop.counter }}" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                {{ faq.answer | safe }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
        
        </div>

          
        
    </div>
</div>

{% endblock %}

